<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
  </head>
  <body>
    <div id="content">
      <button id="save" class="mod-primary">Save</button>
      <p>Tips for using attachment-sections</p>
      <ol id='related-card-list'>
        
      </ol>
      <p class="u-quiet">Claimed attachment urls: <span id="urls"></span></p>
    </div>
    <script src="../js/section.js"></script>
  </body>
</html>
