body {
  background: rgba(0,0,0,.5);
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
}
#content {
  background: white;
  padding: 24px;
  /*width: 80%;
  max-width: 600px;
  max-height: 90%;
  */
}

.card-back {
  background: white;
  border-radius: 4px;
  cursor: pointer;
}
.card-wrapper {
  padding: 4px;
}

ul {
  list-style-type: none;
}