.card-back {
  background: white;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  padding: 6px 6px 22px 8px;
  cursor: pointer;
  position: relative
}

.card-back:hover {
  background: #eee;
}

.card-back:hover .delete-att-button{
  display: block
}

.card-title {
  font-size: 14px;
  margin-bottom: 4px;
}

.card-wrapper {
  padding: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.delete-att-button {
  display: none;
  background: #00000000;
  position: absolute;
  right: 4px;
  top: 4px;
  /*width: 14p
  /*height: 14px;*/
  padding: 4px;
}

.delete-att-button:hover {
  display: block;
  background: #00000033
}