<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    
  </head>
  <body>
    <div id="content">
      <ul id='related-card-list'>
        
      </ul>
      
    </div>
    <script type='text/javascript' src="/js/section.js"></script>
  </body>
</html>
